version: "3.9"
volumes:
  db_data:

services:
  db:
    image: postgres:13.1-alpine
    volumes:
      - db_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
    expose:
      - "5432"

  web:
    image: fsow/snowbomber:latest
    depends_on:
      - db
    restart: always
    command: gunicorn snowbombers.wsgi:application --bind 0.0.0.0:8000
    expose:
      - "8000"
    env_file:
      - ./.env

  nginx:
    image: nginx:1.18.0-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl:/etc/nginx/ssl/:ro
    ports: 
      - "80:80"
      - "443:443"
    depends_on: 
      - web